<!--
Copyright 2017 Jochen Linnemann

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
@{
    ViewBag.Title = "Legalities";
}

<div class="container">
<div class="row">
<div class="col-sm-1 col-md-2 col-lg-3"></div>
<div class="col-sm-10 col-md-8 col-lg-6">
    <h2>@ViewBag.Title</h2>
    <div>
        <h3>Legal Notice (Impressum)</h3>

        <h4>Information according to § 5 TMG (Tele Media Act)</h4>
        <p>
            Jochen Linnemann<br />
            Jochen Linnemann - IT-Service<br />
            Neu-Iserlohn-Str. 22<br />
            44388 Dortmund<br />
            GERMANY
        </p>

        <h4>Contact</h4>
        <p>
            E-Mail: <a href="mailto:support@campaign-logger.com">support@campaign-logger.com</a><br />
        </p>

        <h4>Responsible for Content according to § 55 Abs. 2 RStV (Interstate Broadcasting Agreement)</h4>
        <p>
            Jochen Linnemann, Neu-Iserlohn-Str. 22, 44388 Dortmund, GERMANY
        </p>

        <h4>Note on EU Dispute Resolution</h4>
        <p>
            The European Commission offers a platform for Online Dispute Resolution (ODR):
            <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a><br />
            You will find our e-mail address above under "Contact".
        </p>
    </div>
    <div>
        <h3>Our Cookie & Privacy Policy</h3>
        <p>
            Please see <a href="https://campaign-logger.com/#/privacy" target="_blank">Our Cookie & Privacy Policy</a> for details.
        </p>
    </div>
    <div>
        <h3>Disclaimer</h3>
        <h4>Content Liability</h4>
        <p>
            According to § 7 Abs. 1 TMG (German Tele Media Act), as a service provider we are responsible for our own content on these pages as governed by general law.
            According to §§ 8 to 10 TMG, as a service provider we are not bound to control transmitted or stored foreign information, or search for accounts of illegal activity.
            Obligations to remove or prevent access to information as governed by general law are not affected hereof.
            Liability in this case will be possible only after we get knowledge of a concrete violation of the law.
            We will remove such content as soon as we get knowledge of corresponding infringements.
        </p>

        <h4>Link Liability</h4>
        <p>
            Our web site includes links to external web pages operated by third parties.
            We cannot control the content of those pages and therefore cannot take responsibility for this foreign content.
            The providers/operators of linked pages are solely responsible for their content.
            At the time of linking we checked the linked pages for possible violations of the law and did not find signs of unlawful content.
            A permanent control of foreign content on linked pages is not reasonably possible without firm evidence of violations of the law.
            We will remove links to unlawful content as soon as we get knowledge of corresponding infringements.
        </p>

        <h4>Copyright</h4>
        <p>
            Contents and works created by the operators of these pages are protected by German and Canadian copyright laws.
            Reproduction, editing, distribution, and any kind of utilization outside the bounds of copyright laws need written permission by the respective author or creator.
            Downloads and copies of these pages are allowed for private, non-commercial use only.
            For content not created by the operators of these pages the copyright of third parties will be respected.
            Particularly, content of third parties will be marked as such.
            Nevertheless, if you notice copyright violations, please let us know!
            We will remove such content as soon as we get knowledge of copyright violations.
        </p>
    </div>
    <div>
        <h3>License Information</h3>
        <h4>Bootstrap</h4>
        <p>The MIT License (MIT)</p>
        <p>Copyright (c) 2011-2016 Twitter, Inc.</p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Bootstrap Dialog</h4>
        <p>The MIT License (MIT)</p>
        <p>
            Copyright (c) 2016 <a href="https://nakupanda.github.io/bootstrap3-dialog/">Bootstrap Dialog</a>
        </p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Bootswatch</h4>
        <p>The MIT License (MIT)</p>
        <p>Copyright (c) 2013 Thomas Park</p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Glyphicons Halflings</h4>
        <p>
            Includes over 250 glyphs in font format from the <a href="http://glyphicons.com/">Glyphicon</a> Halflings set.
            <a href="http://glyphicons.com/">Glyphicon</a> Halflings are normally not available for free,
            but their creator has made them available for Bootstrap free of cost.
            As a thank you, we only ask that you include a link back to <a href="http://glyphicons.com/">Glyphicon</a> whenever possible.
        </p>
        <hr />
        <h4>jQuery</h4>
        <p>
            Copyright <a href="https://jquery.org/">jQuery Foundation and other contributors</a>
        </p>
        <p>
            This software consists of voluntary contributions made by many
            individuals. For exact contribution history, see the revision history
            available at <a href="https://github.com/jquery/jquery">GitHub</a>.
        </p>
        <p>
            The following license applies to all parts of this software except as
            documented below:
        </p>
        <hr />
        <p>
            Permission is hereby granted, free of charge, to any person obtaining
            a copy of this software and associated documentation files (the
            "Software"), to deal in the Software without restriction, including
            without limitation the rights to use, copy, modify, merge, publish,
            distribute, sublicense, and/or sell copies of the Software, and to
            permit persons to whom the Software is furnished to do so, subject to
            the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be
            included in all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
            NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
            LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
            OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
            WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
        <hr />
        <p>
            All files located in the node_modules and external directories are
            externally maintained libraries used by this software which have their
            own licenses; we recommend you read them, as their terms may differ from
            the terms above.
        </p>
    </div>
</div>
<div class="col-sm-1 col-md-2 col-lg-3"></div>
</div>
</div>