<!--
Copyright 2017 Jochen Linnemann

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
@{
    ViewBag.Title = "Legalities";
}

<div class="container">
<div class="row">
<div class="col-sm-1 col-md-2 col-lg-3"></div>
<div class="col-sm-10 col-md-8 col-lg-6">
    <h2>@ViewBag.Title</h2>
    <div>
        <h2>Legal Notice &amp; Imprint</h2>

        <h3>Information provided according to Sec. 5 German Telemedia Act (TMG):</h3>
        <p>
            Jochen Linnemann<br>
            Jochen Linnemann - IT-Service<br>
            Neu-Iserlohn-Str. 22<br>
            44388 Dortmund<br>
            GERMANY
        </p>

        <h3>Contact:</h3>
        <p>
            Telephone: +49 (231) 975 86 753<br>
            Telefax: +49 (32) 229 300 568<br>
            Email: support@campaign-logger.com
        </p>

        <h3>Responsible for contents acc. to Sec. 55, para. 2 German Federal Broadcasting Agreement (RstV):</h3>
        <p>
            Jochen Linnemann<br>
            Neu-Iserlohn-Str. 22<br>
            44388 Dortmund<br>
            GERMANY
        </p>

        <h3>Dispute resolution</h3>
        <p>
            The European Commission provides a platform for online dispute resolution (ODR):
            <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.<br>
            Please find our email in the imprint/legal notice.
        </p>
        <p>
            We do not take part in online dispute resolutions at consumer arbitration boards.
        </p>

    </div>
    <div>
        <h2>Our Cookie & Privacy Policy</h2>
        <p>
            Please see <a href="https://campaign-logger.com/#/privacy" target="_blank">Our Cookie & Privacy Policy</a> for details.
        </p>
    </div>
    <div>
        <h2>Disclaimer</h2>

        <h3>Liability for Contents</h3>
        <p>
            As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1 German Telemedia Act (TMG).
            However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted
            or stored information or to search for evidences that indicate illegal activities.
        </p>
        <p>
            Legal obligations to removing information or to blocking the use of information remain unchallenged.
            In this case, liability is only possible at the time of knowledge about a specific violation of law.
            Illegal contents will be removed immediately at the time we get knowledge of them.
        </p>

        <h3>Liability for Links</h3>
        <p>
            Our offer includes links to external third party websites. We have no influence on the contents of those websites,
            therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.
        </p>
        <p>
            The linked websites had been checked for possible violations of law at the time of the establishment of the link.
            Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites
            cannot be imposed without reasonable indications that there has been a violation of law.
            Illegal links will be removed immediately at the time we get knowledge of them.
        </p>

        <h3>Copyright</h3>
        <p>
            Contents and compilations published on these websites by the providers are subject to German copyright laws.
            Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law
            require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only.
        </p>
        <p>
            The commercial use of our contents without permission of the originator is prohibited.
        </p>
        <p>
            Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider.
            Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law,
            please inform us. Such contents will be removed immediately.
        </p>
    </div>
    <div>
        <h3>License Information</h3>
        <h4>Bootstrap</h4>
        <p>The MIT License (MIT)</p>
        <p>Copyright (c) 2011-2016 Twitter, Inc.</p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Bootstrap Dialog</h4>
        <p>The MIT License (MIT)</p>
        <p>
            Copyright (c) 2016 <a href="https://nakupanda.github.io/bootstrap3-dialog/">Bootstrap Dialog</a>
        </p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Bootswatch</h4>
        <p>The MIT License (MIT)</p>
        <p>Copyright (c) 2013 Thomas Park</p>
        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.
        </p>
        <hr />
        <h4>Glyphicons Halflings</h4>
        <p>
            Includes over 250 glyphs in font format from the <a href="http://glyphicons.com/">Glyphicon</a> Halflings set.
            <a href="http://glyphicons.com/">Glyphicon</a> Halflings are normally not available for free,
            but their creator has made them available for Bootstrap free of cost.
            As a thank you, we only ask that you include a link back to <a href="http://glyphicons.com/">Glyphicon</a> whenever possible.
        </p>
        <hr />
        <h4>jQuery</h4>
        <p>
            Copyright <a href="https://jquery.org/">jQuery Foundation and other contributors</a>
        </p>
        <p>
            This software consists of voluntary contributions made by many
            individuals. For exact contribution history, see the revision history
            available at <a href="https://github.com/jquery/jquery">GitHub</a>.
        </p>
        <p>
            The following license applies to all parts of this software except as
            documented below:
        </p>
        <hr />
        <p>
            Permission is hereby granted, free of charge, to any person obtaining
            a copy of this software and associated documentation files (the
            "Software"), to deal in the Software without restriction, including
            without limitation the rights to use, copy, modify, merge, publish,
            distribute, sublicense, and/or sell copies of the Software, and to
            permit persons to whom the Software is furnished to do so, subject to
            the following conditions:
        </p>
        <p>
            The above copyright notice and this permission notice shall be
            included in all copies or substantial portions of the Software.
        </p>
        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
            NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
            LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
            OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
            WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
        <hr />
        <p>
            All files located in the node_modules and external directories are
            externally maintained libraries used by this software which have their
            own licenses; we recommend you read them, as their terms may differ from
            the terms above.
        </p>
    </div>
</div>
<div class="col-sm-1 col-md-2 col-lg-3"></div>
</div>
</div>